body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

.btn {
    width: 75px;
    height: 75px;
    margin: 15px;
    font-size: 50px;
}

.btn.number{
    border: 1px solid greenyellow;
    border-radius: 10px;
}

.btn.operator{
    border: 1px solid skyblue;
    border-radius: 10px;
    
}
.btn.decimal{
    border: 1px solid goldenrod;
    border-radius: 10px;
}
.btn.equals{
    border: 1px solid violet;
    border-radius: 10px;
}

.btn.number:hover{
    background-color: greenyellow;

}
.btn.decimal:hover{
    background-color: goldenrod;
}

.btn.operator:hover{
    background-color: skyblue;
}
.btn.equals:hover{
    background-color: violet;
}
.firstrow button:hover{
    background-color: salmon;
}
.firstrow button{
    border: 1px solid salmon;
    border-radius: 10px;
    width: 185px;

}
.screen{
    width: 400px;
    border: 3px solid paleturquoise;
    height: 90px;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}
.previous{
    font-size: 20px;
}
.current{
    font-size: 30px;
}